<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.igdaza.domo" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ecsd_logo"
        android:label="ECSD Sistemas Inteligentes"
        android:theme="@style/AppTheme" >
        android:
        <activity
            android:name=".activity_main"
            android:label="ECSD Sistemas Inteligentes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="ECSD Sistemas Inteligentes" >
        </activity>
        <activity
            android:name=".MyActivity2"
            android:label="ECSD Sistemas Inteligentes" >
        </activity>
        <activity
            android:name=".MyActivity3"
            android:label="ECSD Sistemas Inteligentes" >
        </activity>
        <activity
            android:name=".riego_activity"
            android:label="ECDS Sistemas Inteligentes" >
        </activity>
    </application>

</manifest>
